/*********************

font-face

**********************/

@font-face {
  font-family: 'mainleve';
  src: url('../fonts/mainleve.woff2') format('woff2'), url('../fonts/mainleve.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vaivai';
  src: url('../fonts/vaivai.woff2') format('woff2'), url('../fonts/vaivai.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/********************

Global

********************/

body {
  font-family: 'Dosis', 'Arial', sans-serif;
  font-size: 22px;
}

p {
  margin: 5px 0;
  text-align: justify;
}

h1,
h2,
h3 {
  font-size: 120px;
  font-family: 'vaivai', 'Arial', sans-serif;
  line-height: 0.8;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

@media screen and (max-width: 639px) {
  h1,
  h2,
  h3 {
    font-size: 100px;
  }
}

a {
  text-decoration: none;
}

a.cocoButton, button {
  background-color: #ed237a;
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #fff;
  font-weight: 700;
  padding: 2px 24px;
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.3s linear all;
  margin: 10px;
}

button {
  padding: 7px 24px;
  cursor: pointer;
}

a.cocoButton:hover, button:hover {
  background-color: #fff;
  color: #ed237a;
}


/***********************

Header

***********************/

#header #menuLogo {
  display: inline-block;
}

#header #menuLogo img {
  height: 60px;
  margin: 2px 10px;
}

#header li {
  display: inline-block;
  font-family: 'mainleve', 'Arial', sans-serif;
  font-size: 30px;
}

#header li a {
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  transition: color 0.5s, transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#header li:hover a {
  color: #ed237a;
  transform: scale(1.5);
}

@media screen and (max-width: 639px) {
  #header #menuLogo {
    display: none;
  }
  #header li {
    display: block;
  }
}

#header .title-bar {
  background: #fff;
  color: #000;
}

#header .title-bar .menu-icon:after {
  background: #ed237a;
  box-shadow: 0 7px 0 #ed237a, 0 14px 0 #ed237a;
}

#header .title-bar #titleBarLogo {
  display: inline-block;
}

#header .title-bar #titleBarLogo img {
  height: 35px;
}


/***********************

cocoSlider

************************/

#feature {
  padding: 20px 0;
  background-image: url(../images/bois.jpg);
  background-size: auto;
  background-repeat: repeat;
}

#feature .cocoSlider {
  width: 1200px;
  margin: 0 auto;
}

#feature .cocoSlider .slick-next {
  right: 25px;
  z-index: 10;
}

#feature .cocoSlider .slick-prev {
  left: 25px;
  z-index: 11;
}

#feature .cocoSlider .slick-dots {
  bottom: 25px;
}

#feature .cocoSlider.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-prev:hover:before,
.slick-next:hover:before {
  color: #ed237a;
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  opacity: 0.50;
  color: #000;
  transition: all 0.3s;
}

.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 0.50;
}

#feature .cocoSlider-item {
  position: relative;
}

#feature .cocoSlider img {
  width: 800px;
  height: 500px;
  display: inline-block;
}

#feature .cocoSlider#produit img {
  width: 670px;
}

#feature .cocoSlider .infos+img {
  float: right;
}

#feature .cocoSlider .infos {
  width: 400px;
  display: inline-block;
  text-align: center;
  padding-left: 25px;
  float: left;
  margin-top: 80px;
}
#feature .cocoSlider .infos p {
  text-align: center;
}
  
#feature .cocoSlider#produit .infos {
  width: 530px;
}

#feature .cocoSlider img+.infos {
  float: right;
  padding-right: 25px;
}

#feature .cocoSlider .infos h3 {
  line-height: 0.5;
  padding: 30px 0;
}

#feature .cocoSlider .infos a {
  margin-top: 20px;
}

@media screen and (max-width: 1199px) {
  #feature .cocoSlider {
    width: 100%;
    margin: 0;
  }
  #feature {
    padding: 0;
  }
  #feature .cocoSlider img,
  #feature .cocoSlider#produit img {
    width: 100%;
    height: auto;
    display: block;
    float: none;
    order: 1;
  }
  #feature .cocoSlider-item {
    display: flex;
    flex-flow: column;
  }
  #feature .cocoSlider .infos,
  #feature .cocoSlider img+.infos,
  #feature .cocoSlider#produit .infos {
    order: 2;
    width: 100%;
    display: block;
    padding: 0 20px;
    float: none;
    margin-top: 0px;
  }
  #feature .cocoSlider .infos h3 {
    padding: 10px 0;
  }
  #feature .cocoSlider .infos a {
    margin: 5px 10px;
  }
  #feature .cocoSlider .slick-dots {
    bottom: 10px;
  }
  #feature .cocoSlider {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 639px) {
  #feature .cocoSlider {
    padding-bottom: 20px;
  }
}


/*************************

Avatar

*************************/

#avatar {
  padding: 20px 0;
  background-image: url(../images/bois.jpg);
  background-size: auto;
  background-repeat: repeat;
}

#avatar .desc {
  margin-bottom: 20px;
}

#avatar .app .form fieldset {
  text-align: center;
}

#avatar .app .form input[type=radio]+label {
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

#avatar .app .form input[type=radio]+label img {
  width: 100px;
}

#avatar .app .form input[type=radio] {
  display: none;
}

#avatar .app .form input[type=radio]:checked+label {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#avatar .app .form input[type=text] {
  background: #fff;
  border-radius: 5px;
  margin: 5px 0;
}

#avatar .app .form label[for=text] {
  font-size: 22px;
}

#avatar .app .form #buttonCenter {
  text-align: center;
}

#avatar .app .canvas canvas {
  width: 100%;
  border: 3px solid #fff;
  border-radius: 5px;
}

#avatar .app .canvas img#bulle,
#avatar .app .canvas img#fondCanvas {
  display: none;
}

#avatar .app .share {
  text-align: center;
}

#avatar .app .share a i {
  margin-left: 10px;
}


/*************************

Tour

*************************/

#tour {
  padding: 20px 0;
}

#tour h2 {
  font-size: 120px;
  font-family: 'vaivai', 'Arial', sans-serif;
  line-height: 0.8;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

#tour .concept img {
  width: 100%;
}

#tour .dates {
  text-align: center;
}

#tour .dates .nextDate {
  display: block;
  font-size: 22px;
  font-family: 'Dosis', 'Arial', sans-serif;
  text-align: center;
  padding: 0 10px;
  background: rgba(193, 211, 0, 0.5);
  transition: 0.3s linear all;
  color: #000;
  border-radius: 5px;
  margin: 10px 0;
}

#tour .dates .nextDate:hover {
  background: rgba(193, 211, 0, 1);
}

#tour .dates .nextDate:hover h4 {
  color: #fff;
  transform: scale(1.2);
}

#tour .dates .nextDate h4 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Dosis', 'Arial', sans-serif;
  text-align: center;
  padding: 0 10px;
  margin: 0;
  transition: color 0.5s, transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#tour .dates .nextDate p {
  margin: 0;
}

@media screen and (max-width: 1199px) {
  #tour .dates .nextDate {
    margin: 10px 0;
  }
}

#tour #map {
  width: 100%;
  height: 500px;
}


/*************************

Produits

**************************/

#cultureCoco {
  background-color: #001623;
  background-image: url(../images/palmier-bg.png);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center top;
  padding: 20px 0;
  color: #fff;
}

#cultureCoco .infos {
  margin: 10px auto;
}

#cultureCoco .infos h1 {
  font-size: 150px;
  font-family: 'vaivai', 'Arial', sans-serif;
  line-height: 0.4;
  text-align: center;
  margin: 0;
  padding: 30px 0;
}

#cultureCoco .infos p {
  font-size: 22px;
}

#produits {
  padding: 20px 0;
}

#produits .infos {
  margin: 10px auto;
}

#produits .infos img {
  width: 100%;
}

#produits .infos h1 {
  font-size: 120px;
  font-family: 'vaivai', 'Arial', sans-serif;
  line-height: 0.4;
  text-align: center;
  margin: 0;
  padding: 30px 0;
}

#produits .infos p {
  font-size: 22px;
}

#produits .moreProducts {
  text-align: center;
}

#produits .moreProducts a {
  background-color: #ed237a;
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  padding: 2px 24px;
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin: 10px 10px;
  cursor: pointer;
}

#produits .moreProducts a:hover {
  transform: scale(1.1);
}


/*************************

Separator

*************************/

.separator {
  height: 20px;
  background-image: url(../images/seperator.png);
  background-repeat: repeat-x;
}


/*************************
  
ClearBoth
  
*************************/

div.clear {
  clear: both;
}


/************************

Footer

************************/

#footer {
  font-family: 'Dosis', Arial, sans-serif;
}

#footer #socialLinks li a {
  color: #000;
  transition: color 0.5s, transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  font-size: 40px;
}

#footer #socialLinks li a:hover {
  color: #ed237a;
  transform: scale(1.5);
}

#footer #corporationLinks li a {
  color: #000;
  transition: color 0.5s;
  font-size: 16px;
}

#footer #corporationLinks li a:hover {
  color: #ed237a;
}

@media screen and (max-width: 639px) {
  #footer #corporationLinks li a {
    padding: 5px;
  }
  #footer #socialLinks li a {
    font-size: 25px;
    padding: 5px;
  }
}
